@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.row {
  height: 81vh;
}

hr {
  opacity: 1;
}

.gift-card {
  width: 20vw;
  height: 25vh;
}

.object-fit{
  height: 20vh;
  width: 20vw;
  object-fit: cover;
}

.card-img {
  min-height: 100%;
  object-fit: cover;
  min-width: 100%;
}


